@charset "UTF-8";

@media screen and (min-width: 768px){
    #burguer {
        display: none;
    }
    menu{
        display: block;
    }
    ul{
        display: flex;
    }
    menu li {
        flex: auto;
        width: 260px;
    }

    main{
        width: 768px;
    }
}